@page
@model Shop_Admin_EndPoint.Pages.CatalogType.CreateModel
@{
}
<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4> ثبت دسته بندی جدید  </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            @foreach (var item in Model.Message)
            {
                <div class="alert alert-info">
                    <p>@item</p>
                </div>
            }
            <form asp-page="create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label asp-for="catalogTypeView.Type"> </label>
                    <input type="text" class="form-control" asp-for="catalogTypeView.Type">
                    <span asp-validation-for="catalogTypeView.Type" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="catalogTypeView.ParentCatalogTypeId" />
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}