@page
@model Admin.EndPoint.Pages.CatalogType.EditModel
@{
}

<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4> ویرایش دسته بندی </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form asp-page="edit" method="post">
                @if (Model.Message != null)
                {
                    @foreach (var item in Model.Message)
                    {
                        <div class="alert alert-info">
                            <p>@item</p>
                        </div>
                    }
                }


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label asp-for="CatalogType.Type"> </label>
                    <input type="text" class="form-control" asp-for="CatalogType.Type">
                    <span asp-validation-for="CatalogType.Type" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CatalogType.ParentCatalogTypeId" />
                <input type="hidden" asp-for="CatalogType.Id" />
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}