@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row layout-top-spacing">

    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h6>صفحه خالی - شما پروژه جدید را با سهولت شروع کنید!</h6>

                <p class="">با کیت استارت CORK می توانید کار خود را بدون هیچ زحمتی شروع کنید. صفحه استارت بسیار بهینه سازی شده است و به شما این امکان را می دهد تا با حداقل کد شروع کنید و فقط قطعات و افزونه های مورد نظر خود را اضافه کنید.</p>

            </div>
        </div>
    </div>

</div>